<h3>NodeJS Server</h3>
<h2>halo <%= nama %> </h2>

<h4>daftar mahasiswa</h4>

<% if (mahasiswa.length < 1) { %>
    <p>data mahasiswa masih kosong</p>
    <% }else{ %>
        <% mahasiswa.forEach(mhs => { %>
            <ul>
                <li>nama : <%= mhs.nama %> </li>
                <li>email : <%= mhs.email %> </li>
            </ul>
            <% }) %> 
            <% } %> 